<div class="center" id="text-block">
  <h1>Welcome to the generic landing page for "Photo Finish",
    a cool video game made by some beautiful people.</h1>

  <h2>
    This is the homepage for the <a href= root_path>"Photo Finish"</a>
    Video GAMING EXPERIENCE OF 2018
  </h2>

</div>
