<h1>"Photo Finish"</h1>

<p>Hello there, <%= @user.name %>,</p>

<p>
An administrator has added your account successfully. Your Dev posting account can be activated below:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>