Hello there <%= @user.name %>,

An administrator has added your account successfully. Your dev posting account can be activated below:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>