<h1>Password reset</h1>

<p>Forgot your password? Don't worry, click the link below:</p>

<%= link_to "Reset Password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>This link is valid for one hour.</p>

<p>
If this email was sent in error, please contact the administrator.
</p>