Forgot your password? Don't worry, click the link below:

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

This link is valid for one hour.

If this email was sent in error, please contact the administrator.