<!-- This is the posts form, this will be used across the various views -->
<%= simple_form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="error_messages">
      <h2>
        <%= "#{pluralize(@post.errors.count, "error")} prohibited this post from being rendered." %>
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- posts form for title/body/submit-->
  <div class="form-group">
    <%= f.input :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :body, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control" %>
  </div>

  <div class="form_group">
    <%= f.button :submit %>
  </div>
<% end %>
