<div class="container blog-bg">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <% @posts.each do |post| %>
      <div>
        <div class="col-xs-12 text-center" id="fancy-text">
          <div class="text-center">
            <h2><%= post.title %></h2>
            <h6>Post created @ <%= post.created_at.strftime('%b %d, %Y') %></h6>
          </div>
          <div class="text-center">
            <%= link_to "READ MORE", post_path(post) %>
          </div>
          <div>
            <% if logged_in? %>
              <%= link_to "Edit", edit_post_path(post), class: "btn btn-default" %>
              <%= link_to "Delete", post_path(post), class: "btn btn-danger", data: {:confirm => "Are you sure?"}, method: :delete %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
