
<div class="col-sm-11 col-xs-12 blog-bg">
  <h2 class="text-center" id="fancy-text"><%= @post.title %></h2>
  <h5 class="text-center" id="fancy-text"><%= @post.created_at.strftime('%b %d, %Y') %></h5>
  <div id=fancy-text><%= raw @post.body %></div>
</div>
