@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/* mixins, variables... */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Universal */

html,body {
  height: 100%;
  position: relative;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


#parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-y;
  background-color: #000;
}
.blog-bg {
  background-color: #fff;
  opacity: 0.85;
  margin-top: 20%
}
#text-block{
  /* Remove below section when provided with assets, make new id */
  background-color: #fff;
  opacity: 0.85;
}

/* typography */
#fancy-text {
  font-family: 'Press Start 2P', cursive;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#header-txt {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}
#logo {
  opacity: 0.7;
  font-family: 'Press Start 2P', cursive;
  float: left;
  margin-right: 10px;
  font-size: 1.9em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* Create a id for posts and bodies of text */

/* footer */

footer {
  height: 50px;
  opacity: 0.8;
  color: #777;
  background: #000;
  nav {
    margin-right: 6%;
  }
  a {
    color: #555;
    &:hover {
      color: #fff;
    }
  }
  small {
    margin-left: 6%;
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 6%;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


/* misc */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing
}
