<footer class="footer navbar-fixed-bottom" id="header-txt">
  <small>
    This <a href="#">blog app</a> is made
    by <a href="https://bitbucket.org/Grev0ushede">a bored adult</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
